form {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}

button { 
    width: 150px;  
    margin: 40px 10px 15px 15px;
}

mat-form-field{
    margin-top: 20px;
    width: inherit;
}
mat-card-title{
    text-align: center;
}